body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgb(94, 46, 94),rgb(152, 152, 236));
    background-repeat: no-repeat;
    height: 100vh;
}
.container .temp input label {
    transition: all 2s;
}
.container {
    width: 450px;
    background-color: rgb(245, 211, 166);
    padding: 50px 60px;
    border-radius: 20px;
    box-shadow: 10px 10px 8px rgb(90, 69, 69);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 32px;
    border: 4px solid rgb(7, 65, 52);
}

.temp {
    width: 45%;
}

input {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 2px solid maroon;
    font-size: 28px;
    text-align: center;
}
h1 {
    font-size: 55px;
    position: relative;
    bottom: 100px;
    letter-spacing: 5px;
    color: rgb(109, 207, 133);
}